# Environment variables
.env
.env.kestra

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Pytest cache
.pytest_cache/

# Virtual environment
venv/
env/
ENV/

# IDE
.vscode/
.idea/

# Prefect
.prefect/
