# Notion Fetch Email Template Task
# Fetch email template from Notion Email Templates database
#
# Inputs:
#   - template_id: Template identifier (e.g., "5-Day E1", "noshow_recovery_email_1")
#
# Outputs:
#   - response: Template data with subject and html_body
#
# Author: Kestra Migration Team
# Created: 2025-11-29
# Ported from: campaigns/christmas_campaign/tasks/notion_operations.py::fetch_email_template

id: notion_fetch_template
type: io.kestra.plugin.core.http.Request
uri: "https://api.notion.com/v1/databases/{{ secret('NOTION_EMAIL_TEMPLATES_DB_ID') }}/query"
method: POST
headers:
  Authorization: "Bearer {{ secret('NOTION_TOKEN') }}"
  Notion-Version: "2022-06-28"
  Content-Type: "application/json"
contentType: application/json
body: |
  {
    "filter": {
      "property": "Template Name",
      "title": {
        "equals": "{{ inputs.template_id }}"
      }
    }
  }
