# Notion Search Contact Task
# Search for existing contact in Notion Contacts database by email
#
# Inputs:
#   - email: Contact email address to search for
#
# Outputs:
#   - response: Notion API response with contact data (if found)
#
# Author: Kestra Migration Team
# Created: 2025-11-29
# Ported from: campaigns/christmas_campaign/tasks/notion_operations.py::search_contact_by_email

id: notion_search_contact
type: io.kestra.plugin.core.http.Request
uri: "https://api.notion.com/v1/databases/{{ secret('NOTION_CONTACTS_DB_ID') }}/query"
method: POST
headers:
  Authorization: "Bearer {{ secret('NOTION_TOKEN') }}"
  Notion-Version: "2022-06-28"
  Content-Type: "application/json"
contentType: application/json
body: |
  {
    "filter": {
      "property": "Email",
      "email": {
        "equals": "{{ inputs.email }}"
      }
    }
  }
