# Resend Send Email Task
# Send email via Resend API
#
# Inputs:
#   - to_email: Recipient email address
#   - subject: Email subject line
#   - html_content: HTML email body (with variables already substituted)
#
# Outputs:
#   - response: Resend API response with email ID
#
# Author: Kestra Migration Team
# Created: 2025-11-29
# Ported from: campaigns/christmas_campaign/tasks/resend_operations.py::send_email

id: resend_send_email
type: io.kestra.plugin.core.http.Request
uri: "https://api.resend.com/emails"
method: POST
headers:
  Authorization: "Bearer {{ secret('RESEND_API_KEY') }}"
  Content-Type: "application/json"
contentType: application/json
body: |
  {
    "from": "Sang Le - BusOS <value@galatek.dev>",
    "to": ["{{ inputs.to_email }}"],
    "subject": "{{ inputs.subject }}",
    "html": {{ inputs.html_content | json }}
  }
